@charset "utf-8";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Bulma
@import '~bulma/bulma';

.is-multi-level {
    position: relative;
    li:hover > .is-child-menu {
        display:inherit;
    }
    li {
        display:inline-block;
    }
}

.is-child-menu {
    display: none;
    position: absolute;
    top: 40px;
    min-width: auto;
    li {
        width:170px;
        float:none;
        display:list-item;
        position: relative;
        .navbar-link:not(.is-arrowless)::after {
            border: 3px solid;
            border-left: 0;
            border-top: 0;
        }
    }
    ul {
        left:170px;
        top: -10px;
        li {
            position: relative;
        }
    }
}



